<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/rep.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />  
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>       
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/dynamicddl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/eventsubtype.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.pickDate').datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>  

</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>ABC Surgery Center</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Incidents", "IncidentList", "User")</li>
                    <li>@Html.ActionLink("Reports", "ReportList", "User")</li>
                    <li>@Html.ActionLink("Administration", "Admin", "User")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </br>
        </br>
        </br>
        </br>
        <p> Copyright &copy 2011-12 ASCistus Management Resources</p>
        </div>
    </div>
</body>
</html>
