@model MvcApplication1.Models.Incident
@{
    ViewBag.Title = "Follow-up";
}

<h2>Close Incident</h2>


@using (Html.BeginForm("Post","User",FormMethod.Post))
{
  <table>
  <tr>
      <td style="font-weight: bold">
  @Html.LabelFor(m => m.IncidentNumber)
  </td>
  <td>
    @Html.DisplayFor(m => m.IncidentNumber)
  </td>
    <td style="font-weight: bold">
  @Html.LabelFor(m => m.IncidentDate)
  </td>
  <td>
    @Html.DisplayFor(m => m.IncidentDate)
  </td>
     <td style="font-weight: bold">
  @Html.LabelFor(m => m.ReportDate)
  </td>
  <td>
      @Html.DisplayFor(m => m.ReportDate)
  </td>
  </tr>
  <tr>
      <td style="font-weight: bold">
  @Html.LabelFor(m => m.Category)
  </td>
  <td>
    @Html.DisplayFor(m => m.Category)
  </td>
         <td style="font-weight: bold">
  @Html.LabelFor(m => m.slc_target)
  </td>
  <td>
      @Html.DisplayFor(m => m.slc_target)
  </td>
           <td style="font-weight: bold">
  @Html.LabelFor(m => m.SubType)
  </td>
  <td>
      @Html.DisplayFor(m => m.SubType)
  </td>
    </tr>
    <tr></tr>
  <tr>
 <td style="font-weight: bold" colspan = "5">
  @Html.LabelFor(m => m.ReportDesc)
  </td>  
  </tr>
  <tr>
  <td colspan = "5">
  @Html.DisplayFor(m => m.ReportDesc)
  
  </td>  
  </tr>

  <tr>
 <td style="font-weight: bold" colspan = "6">
  @Html.LabelFor(m => m.correctiveAction)
  </td>  
  </tr>
  <tr>
  <td colspan = "5">
  @Html.TextArea("correctiveAction", Model.correctiveAction,
     new { rows = 10, cols = 70, @class = "celltext2" })
  
  </td>  
    <td>
  <input type="submit" value="Upload Document" name="btnName" />   
  </td>
  </tr>
    <tr>
 <td colspan = "5" style="font-weight: bold">
  @Html.LabelFor(m => m.bTrends)
  @Html.RadioButtonFor(model => model.bTrends, true) Yes
  @Html.RadioButtonFor(model => model.bTrends, false) No
  </td>
 <td style="font-weight: bold">
  @Html.LabelFor(m => m.bChart)
  @Html.RadioButtonFor(model => model.bChart, true) Yes
  @Html.RadioButtonFor(model => model.bChart, false) No
  </td>
 
  </tr>
  <tr>
 <td style="font-weight: bold" colspan = "6">
  @Html.LabelFor(m => m.TrendsDesc)
  </td>
  </tr>
  <tr>
    <td colspan = "5">
  @Html.TextArea("correctiveAction", Model.TrendsDesc,
     new { rows = 10, cols = 70, @class = "celltext2" })

  </td>

  </tr>

    <tr>
 <td colspan = "5" style="font-weight: bold">
  @Html.LabelFor(m => m.bCare)
  @Html.RadioButtonFor(model => model.bCare, true) Yes
  @Html.RadioButtonFor(model => model.bCare, false) No
  </td>
 <td style="font-weight: bold">
  @Html.LabelFor(m => m.bOppurtunity)
  @Html.RadioButtonFor(model => model.bOppurtunity, true) Yes
  @Html.RadioButtonFor(model => model.bOppurtunity, false) No
  </td>
 
  </tr>
  <tr>
 <td style="font-weight: bold" colspan = "5">
  @Html.LabelFor(m => m.CareDesc)
  </td>
 <td style="font-weight: bold">
  @Html.LabelFor(m => m.OppDesc)
  </td>

  </tr>
  <tr>
    <td colspan = "5">
  @Html.TextArea("CareDesc", Model.CareDesc,
     new { rows = 10, cols = 70, @class = "celltext2" })

  </td>
    <td>
  @Html.TextArea("OppDesc", Model.OppDesc,
     new { rows = 10, cols = 70, @class = "celltext2" })

  </td>

  </tr>
  <tr>
 <td style="font-weight: bold" colspan = "6">
  @Html.LabelFor(m => m.Recommendation)
  </td>
  </tr>
  <tr>
    <td colspan = "5">
  @Html.TextArea("Recommendation", Model.Recommendation,
     new { rows = 10, cols = 70, @class = "celltext2" })

  </td>

  </tr>
  <tr>
 <td style="font-weight: bold" colspan = "6">
  @Html.LabelFor(m => m.Outcome)
  </td>
  </tr>
  <tr>
    <td colspan = "5">
  @Html.TextArea("Outcome", Model.Outcome,
     new { rows = 10, cols = 70, @class = "celltext2" })

  </td>

  </tr>

  <tr>
  <td colspan = "6">
    <input type="submit" value="Close" name="btnName" />   
    <input type="submit" value="Save" name="btnName" />   
    <input type="submit" value="Cancel" name="btnName" />
</td>
  </tr>
  </table>
}