@model MvcApplication1.Models.Incident

@{
    ViewBag.Title = "New Incident";
}

<h2>New Incident</h2>


@using (Html.BeginForm("Post","User",FormMethod.Post))
{
  <table>
  <tr>
  <td>
  @Html.LabelFor(m => m.IncidentDate)
  
  </td>
  <td>
  
  @Html.TextBox("IncidentDate", Model.IncidentDate.ToString("MM/dd/yyyy"), new { Class = "date1", id = "date1id" })
  </td>
  <td>
  @Html.LabelFor(m => m.Time)
  </td>
  <td>
  @Html.TextBox("IncidentTime", Model.Time, new { Class = "time1", id = "time1id" })
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.ReportName)
  </td>
  <td>
  @Html.DropDownListFor(model => model.ReportName, new SelectList(new[] { "Select", "Employee", "Physician" }))
  </td>
  <td>
  @Html.LabelFor(m => m.ReportDate)
  </td>
  <td>  
  @Html.TextBox("ReportDate", Model.IncidentDate.ToString("MM/dd/yyyy"), new { Class = "date1", id = "date1id" })
  </td>
  </tr>
    <tr>
  <td>
  @Html.LabelFor(m => m.PersonName)
  </td>
  <td>
  @Html.TextBoxFor(m => m.PersonName)
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.Location)
  </td>
  <td>
  @Html.DropDownListFor(model => model.Location, new SelectList(new[] { "Select", "Operating Room", "Pre‐op", "PACU", "Step‐down", "Bathroom", "Lobby", "Business Office", "Lounge", "Dressing Room", "Parking Lot", "Other" }))
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.ReportDesc)
  </td>
  <td colspan="3">
  @Html.TextAreaFor(m => m.ReportDesc, new { rows = 5, cols = 60, @class = "celltext21" })
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.Person1)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person1)
  </td>
  <td>
  @Html.LabelFor(m => m.Person2)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person2)
  </td>
  </tr>

  <tr>
  <td>
  @Html.LabelFor(m => m.Person3)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person3)
  </td>
  <td>
  @Html.LabelFor(m => m.Person4)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person4)
  </td>
  </tr>
    <tr>
  <td>
  @Html.LabelFor(m => m.Person5)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person5)
  </td>
  <td>
  @Html.LabelFor(m => m.Person6)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person6)
  </td>
  </tr>
  <tr>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <input type="submit" value="Save" name="btnName" />   
    <input type="submit" value="Next" name="btnName"  />
    <input type="submit" value="Submit" name="btnName" />
    <input type="submit" value="Cancel" name="btnName" />
</td>
  </tr>
  </table>
}
       
