@model MvcApplication1.Models.Incident

@{
    ViewBag.Title = "New Incident";
}
  

<h2>New Incident</h2>

@using (Html.BeginForm("Post","User",FormMethod.Post))
{
  <table>
  <tr>
    <td>
  @Html.LabelFor(m => m.ReportName)
  </td>
  <td>
  <strong>@User.Identity.Name</strong>  
  </td>

  <td>
  @Html.LabelFor(m => m.ReportDate)
  </td>
  <td>  
  @Html.TextBox("ReportDate", Model.IncidentDate.ToString("MM/dd/yyyy"), new { Class = "pickDate", id = "ReportDate" })
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.IncidentDate)
  
  </td>
  <td>
  
   @Html.TextBox("IncidentDate", Model.IncidentDate.ToString("MM/dd/yyyy"), new { Class = "pickDate", id = "IncidentDate" })
  </td>

  <td>
  @Html.LabelFor(m => m.Time)
  </td>
  <td>
  @Html.TextBox("IncidentTime", Model.Time, new { Class = "TimePick", id = "pickTime" })
  </td>
  </tr>
  
    <tr>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.Location)
  </td>
  <td>
  @Html.DropDownListFor(model => model.Location, new SelectList(new[] { "Select", "Operating Room", "Pre‐op", "PACU", "Step‐down", "Bathroom", "Lobby", "Business Office", "Lounge", "Dressing Room", "Parking Lot", "Other" }))
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.ReportDesc)
  </td>
  <td colspan="3">
  @Html.TextAreaFor(m => m.ReportDesc, new { rows = 5, cols = 60, @class = "celltext21" })
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.Person1)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person1)
  </td>
  <td>
  @Html.LabelFor(m => m.Person2)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person2)
  </td>
  </tr>

  <tr>
  <td>
  @Html.LabelFor(m => m.Person3)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person3)
  </td>
  <td>
  @Html.LabelFor(m => m.Person4)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person4)
  </td>
  </tr>
    <tr>
  <td>
  @Html.LabelFor(m => m.Person5)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person5)
  </td>
  <td>
  @Html.LabelFor(m => m.Person6)
  </td>
  <td>
  @Html.TextBoxFor(m => m.Person6)
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.WitnessCheck)
  </td>
  <td>
  @Html.CheckBoxFor(m => m.WitnessCheck)
  </td> 
  </tr>
  <tr>
    <td>
  @Html.LabelFor(m => m.WitnessName)
  </td>
  <td>
  @Html.TextBoxFor(m => m.WitnessName)
  </td> 
    <td>
  @Html.TextBoxFor(m => m.WitnessName)
  </td> 
    <td>
  @Html.TextBoxFor(m => m.WitnessName)
  </td> 
  </tr>
  <tr>
    <td>
  @Html.LabelFor(m => m.WitnessAddress)
  </td>

<td>
  @Html.TextAreaFor(m => m.WitnessAddress, new { rows = 3, cols = 20, @class = "celltext22" })
  </td>
<td>
  @Html.TextAreaFor(m => m.WitnessAddress, new { rows = 3, cols = 20, @class = "celltext22" })
  </td>
<td>
  @Html.TextAreaFor(m => m.WitnessAddress, new { rows = 3, cols = 20, @class = "celltext22" })
  </td>
  </tr>
  </table>
    <div>
        <fieldset class="fieldset-auto-width">
            <legend>Communication</legend>
    <table style="border:none;">
    <tr> 
    <td> Who has been notified &nbsp &nbsp &nbsp </td>
    <td> Name</td>
    <td> Date</td>
    <td> Time </td>
    </tr>
    <tr> 
    <td> of the incident</td>
    <td> </td>
    <td> </td>
    <td>  </td>
    </tr>
    <tr>
    <td> @Html.DropDownListFor(model => model.PersonComm, new SelectList(new[] { "Select", "Physician", "Family", "Supervisor" }))</td>
    <td> @Html.TextBoxFor(m => m.WitnessName)</td>
    <td> @Html.TextBox("CommDate1", Model.commDate.ToString("MM/dd/yyyy"), new { Class = "pickDate", id = "CommDate1" })</td>
    <td> @Html.TextBox("CommTime", Model.CommTime, new { Class = "TimePick", id = "pickTime1" })</td>
    </tr>
    <tr>
    <td> @Html.DropDownListFor(model => model.PersonComm, new SelectList(new[] { "Select", "Physician", "Family", "Supervisor" }))</td>
    <td> @Html.TextBoxFor(m => m.WitnessName)</td>
    <td> @Html.TextBox("CommDate2", Model.commDate.ToString("MM/dd/yyyy"), new { Class = "pickDate", id = "CommDate2" })</td>
    <td> @Html.TextBox("CommTime", Model.CommTime, new { Class = "TimePick", id = "pickTime1" })</td>
    </tr>
    <tr>
    <td> @Html.DropDownListFor(model => model.PersonComm, new SelectList(new[] { "Select", "Physician", "Family", "Supervisor" }))</td>
    <td> @Html.TextBoxFor(m => m.WitnessName)</td>
    <td> @Html.TextBox("CommDate3", Model.commDate.ToString("MM/dd/yyyy"), new { Class = "pickDate", id = "CommDate3" })</td>
    <td> @Html.TextBox("CommTime", Model.CommTime, new { Class = "TimePick", id = "pickTime1" })</td>
    </tr>

    </table>
    </fieldset>
    </div>
    <input type="submit" value="Save" name="btnName" />   
    <input type="submit" value="Next" name="btnName"  />
    <input type="submit" value="Submit" name="btnName" />
    <input type="submit" value="Cancel" name="btnName" />
    
}
       
