@model MvcApplication1.Models.Incident

@{
    ViewBag.Title = "New Incident - Second Page";
}

<h2>New Incident - Page 2</h2>


@using (Html.BeginForm("Post", "User", FormMethod.Post))
{
  <table>
  <tr>
  <td>
  @Html.LabelFor(m => m.Category)
  </td>
  <td>
                  <select id="Select2" name="D2" onchange="srcChange(this.value)">
                 <option>---select category---</option>
                <option>Patient Incident</option>
                <option>Employee Incident</option>
                <option>Physician Incident</option>
                <option>Visitor Incident</option>
                <option>Customer Service Incident</option>

                </select>
  </td>
  <td>
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.slc_target)
  </td>
  <td>
    <select id="slc_target" name="D2" onchange="typeChange(this.value)">
                 <option>---select type---</option>

                </select>
  </td>
  <td>
  @Html.LabelFor(m => m.SubType)
  </td>
  <td>
    <select id="SubType" name="D2">
                 <option>---select sub type---</option>

                </select>

  </td>
  </tr>
  
  <tr>
  <td>
    @Html.LabelFor(m => m.PatientID)
  </td>
  <td>
  @Html.TextBoxFor(m => m.PatientID)
  </td>
  <td>
    @Html.LabelFor(m => m.PatientName)
  </td>
    <td>
  @Html.TextBoxFor(m => m.PatientName)
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.Condition)
  </td>
  <td>
                  <select id="Select21" name="D21" >
                 <option>---Select Condition---</option>
                <option>Alert/Oriented</option>
                <option>Confused/Disoriented</option>
                <option>Anesthetized</option>
                <option>Sedated</option>
                <option>Uncooperative</option>
                <option>Unknown</option>
                <option>Other</option>
                </select>
  </td>
  <td>
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.Severity)
  </td>
  <td>
                  <select id="Select22" name="D22" >
                 <option>---Select Severity---</option>
                <option>Death</option>
                <option>Major/Severe</option>
                <option>Moderate/Serious</option>
                <option>Minor</option>
                <option>No Apparent Injury</option>
                <option>Not Applicable</option>
                <option>Unknown</option>
                </select>
  </td>
  <td>
  </td>
  </tr>
  <tr>
  <td>
  @Html.LabelFor(m => m.Disposition)
  </td>
  <td>
                  <select id="Select22" name="D22" >
                 <option>---Select Disposition---</option>
                <option>Transfer to Hospital</option>
                <option>CPR</option>
                <option>Examined & Treated</option>
                <option>Follow-up Indicated</option>
                <option>Medicated</option>
                <option>Sutured</option>
                <option>No Treatment Indicated</option>
                <option>Not Applicable</option>
                <option>Unknown</option>
                <option>Other</option>
                </select>
  </td>
  <td>
  </td>
  </tr>

  <tr>
  <td>
  
  @Html.LabelFor(m => m.AddlInfo)
  </td>
  <td colspan = "2">
    @Html.TextArea("AddlInfo", "AddlInfo",
     new { rows = 5, cols = 50, @class = "celltext21" })
  </td>
  </tr>
  </table>
      <div>
        <fieldset>
            <legend>Transfer Related questions</legend>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.chkTransfer)
                @Html.LabelFor(m => m.chkTransfer)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.chkEmergency)
                @Html.LabelFor(m => m.chkEmergency)
            </div>
        </fieldset>
    </div>
    <p>
        <input type="submit" value="Save" name="btnName" />   
    <input type="submit" value="Submit" name="btnName" />
    <input type="submit" value="Cancel" name="btnName" />
    </p>
        
}
       
